global
    log stdout format raw local0

defaults
    mode http
    log global
    option httplog
    timeout connect 5s
    timeout client 60s
    timeout server 60s

frontend http_front
    bind *:80

    stick-table type string len 2048 size 100k expire 20s store http_req_rate(20s)
    http-request track-sc0 url
    http-request deny deny_status 429 if { sc_http_req_rate(0) gt 1 }

    default_backend servers

backend servers
    server backend backend:8000
